<div class="d-flex align-items-center gap-2 ms-auto" *ngIf="isAuthenticated$ | async; else guest">
  <span class="fw-semibold text-success">Welcome, {{ userFullName() }}</span>
  <button class="btn btn-outline-danger btn-sm rounded-pill px-3" (click)="signOut()">
    <i class="bi bi-box-arrow-right me-1 "></i> Sign Out
  </button>


  <button class="btn btn-outline-primary btn-sm rounded-pill px-3" routerLink="/members">
    <i class="bi bi-person-badge me-1"></i> Members
  </button>

  <button class="btn btn-outline-primary btn-sm rounded-pill px-3" routerLink="/order-history">
    <i class="bi bi-person-badge me-1"></i> Orders
  </button>

</div>

<ng-template #guest>
  <div class="d-flex align-items-center gap-2 ms-auto">
    <span class="text-muted">You are not logged in</span>

    <button class="btn btn-outline-secondary btn-sm rounded-pill px-3"
            (click)="redirectToSignUp()">
      <i class="bi bi-person-plus me-1"></i> Sign Up
    </button>

    <button class="btn btn-primary btn-sm rounded-pill px-3"
            (click)="signIn()">
      <i class="bi bi-box-arrow-in-right me-1"></i> Sign In
    </button>




  </div>
</ng-template>




